# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
build/
dist/
out/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Large assets (keep only source)
# Banner and ads/ (keep only needed)
# University Logos/ (keep only needed)
# Graphics/ (keep only needed)